---
layout: default
---
<div class="category">
  <div class="category-title"><span>{{ page.title }}</span></div>
  <ul class="posts">
    {% for post in page.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
        {{ post.content | split:"<!-- more -->" | first | markdownify | strip_html | truncate:300 }}
        {% if post.content | size > 300 %}
          <br>
          <a href="{{ post.url | prepend: site.baseurl }}"><strong>Read more</strong></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
